---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Explorer's <strong>Blog</strong></h1>

<ul>
  {% for post in collections.posts %}
    <li>
      <a href="{{ post.url }}" class ="icon">
        <i class="fas fa-arrow-right"></i> 
        {{ post.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="homepage-logo">
  <img src="images/Untitled.png" alt="Logo">
</div>
